.sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 27px 20px 0 40px;
    background-color: var(--bg-color);
    z-index: 10000;
    transition: 0.4s;
    right: -100%;
}

.sidebar.open {
    display: block;
    right: 0;
}

.sidebar__header {
    display: flex;
    justify-content: end;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 137px;
}

.sidebar__list a {
    color: var(--light-green);
    font-size: 64px;
    font-family: Pliska;
    font-style: italic;
    line-height: 74px;
}

@media screen and (max-width: 530px) {
    .sidebar__list{
        align-items: center;
        gap: 15px;
        margin-top: 70px;
    }
    .sidebar__list a{
        font-size: 44px;
    }
}