.catalog {
    padding: 100px 0;
}

.catalog__container{
    display: flex;
    justify-content: space-between;
}

.catalog__title {
    margin-bottom: 13px;
    font-family: 'Pliska';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
}

.catalog__desc{
    width: 415px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.8;
}

.catalog__list{
    display: flex;
    flex-direction: column;
    max-width: 772px;
    width: 100%;
}

.catalog__item{
    display: flex;
    align-items: center;
    padding: 27px 0;
    border-top: 1px solid #D6D6CE;
    border-bottom: 1px solid #D6D6CE;
    border-collapse: collapse;
    margin-top: -1px;
}

.catalog__item span{
    margin-right: 150px;
    font-family: 'Pliska';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}

.catalog__item h3{
    font-family: 'Pliska';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}

.catalog__item p{
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}

