.footer__top {
    padding: 29px 0;
    background-color: #F5F5F5;
}

.footer__bottom {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: var(--bg-color);
}

.footer__contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px 60px;
}

.footer__contact-desc {
    margin-bottom: 3px;
    color: #000000;
    opacity: 0.3;
    font-size: 13px;
}

.footer__contact p,
.tell {
    display: block;
    font-size: 24px;
    font-weight: 500;
}

.footer__network {
    display: flex;
    gap: 16px;
}

.footer__network a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: 1px solid rgba(58, 70, 60, 0.1);
    border-radius: 50%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
}

.footer__nav {
    margin-top: 34px;
    width: 100%;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 21px 16px;
    margin-bottom: 34px;
}

.footer__nav-list li {
    color: var(--white);
}

.footer__bottom-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__logo {
    margin-right: 62px;
}

.shadow {
    color: var(--white);
    opacity: 0.2;
}

.footer__info,
.footer__info div {
    display: flex;
    align-items: center;
}

.footer__info {
    width: 100%;
    justify-content: space-between;
}

.footer__summary {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 580px) {
    .footer__contact {
        justify-content: center;
    }

    .footer__contact {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .footer__bottom {
        padding: 36px 50px 50px;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__bottom-container {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav-list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
}