.hero {
    background-color: var(--bg-color);
    position: relative;
}

.hero__title{
    width: 791px;
    margin-top: 262px;
    margin-bottom: 132px;
    font-family: "Pliska";
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    color: #E5F187;
    vertical-align: middle;
}
.hero__bg {
    background-image: url("../../../../assets/images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 35vw;
    min-height: 100%;
}


.hero__container{
    display: flex;
    align-items: center;
}

.hero__arrow-icon{
    margin-left: 45px;
}