.hero {
    background-color: var(--bg-color);
    position: relative;
}

.hero__title {
    width: 741px;
    margin-top: 262px;
    margin-bottom: 32px;
    font-family: "Pliska";
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    color: #E5F187;
    vertical-align: middle;
    z-index: 99;
}

.hero__title button {
    margin-top: 30px;
    display: block;
}

.hero__bg {
    /* background-image: url("src/assets/images/hero_back.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    /* width: 100%; */
    z-index: 0;
    min-height: 100%;
}

.carusel_btns {
    z-index: 99;
    display: flex;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.btn1 {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 500;
}

.btn1 p {
    position: absolute;
    top: 13px;
    left: 15px;
}


.hero__container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.hero__arrow-icon {
    margin-left: 45px;
}

.svg {
    position: relative;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 999;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
}

.anima {
    animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

@media screen and (max-width: 1015px) {
    .hero__title {
        margin-top: 176px;
        margin-bottom: 77px;
    }


}

@media screen and (max-width: 490px) {
    .hero__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 148px;
        font-size: 44px;
        line-height: 49px;
        text-align: center;
        width: 100%;
    }

    /* .hero__bg{
        height: 247px;
    } */
    .carusel_btns {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero__title button {
        margin-top: 21px;
        margin-left: 0;
    }
}